*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #323846;
    width: 100%;
}
.option{
    display: flex;
    position: absolute; 
    left: 30%;
    top: 67%;
}
.stone,.paper,.scissor{
    height: 134px;
    width: 135px; 
    border-radius: 60%;
    margin: 20px;
    cursor: pointer;
}
.you{
    position: absolute;
    top: 32%;
    left: 55%;
}
#player{
    position: absolute;
    top: 36%;
    left: 50%;
}
#player img{
    height: 161px;
    width: 154px;
}
.pc{
    position: absolute;
    left: 38%;
    top: 32%;
}
#computer{
    position: absolute;
    left: 35%;
    top: 36%;
}
#computer img{
    height: 161px;
    width: 154px;
}
#Result{
    text-align: center;
    padding-top: -5px;
    font-size: 55px;
}
.move{
    color: white;
    position: absolute;
    top: 95%;
    left: 44%;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
}
.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}
#user-label {
    position: absolute;
    top: 20px;
    left: -25px;
    font-size: 22px;
    background-color: orange;
    border-radius: 4px;
    padding: 2px;
    padding-bottom: 6px;
}
  
#comp-label {
    position: absolute;
    top: 20px;
    right: -30px;
    font-size: 22px;
    background-color: orange;
    border-radius: 4px;
    padding: 2px;
    padding-bottom: 6px;
}
  .nmatch{
    /* position: absolute;
    left: 47%;
    bottom: 79%; */
    
    display: block;
    padding-left: 47%;
  }
  h4{
      color: white;
      font-size: 18px;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 111px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #BDE2EA; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
    margin: auto;
    padding: 20px;
    border: 5px solid #186c868f;
    width: 45%;
    height: 5%;
    border-radius: 8px;
  }
  
  /* The Close Button */
  .close {
    color: #0a0a0a;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
#text{
    color: black;
    text-align: center;
    font-size: 26px;
    font-style: italic;
    font-family: 'Bebas Neue', cursive;
}
@media (max-width: 768px){
  .nmatch{
    padding-left: 41%;
  }
  #computer {
    top: 36%;
  }
  .pc {
    left: 12%;
  }
  .move{
    left: 33%;
  }
  .stone, .paper, .scissor {
    height: 110px;
    width: 110px;
    margin: 12px;
  }
  .option{
    left: 0%;
  }
  #computer{
    left:2%;
  }
  .you{
    left: 67%;
  }
  #Result{
    font-size: 46px;
    position: absolute;
    top: 22%;
    left: 16%;
  }
}



