body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: black;
}

#game-board {
    background-color: #ccc;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

#game-score {
    display: flex;
    /*justify-content: center;
    align-items: center;*/
}

.snake {
    background-color: hsl(200, 100%, 50%);
    border: 0.25vmin solid black;
}

.food {
    background-color: hsl(50, 100%, 50%);
    border: 0.25vmin solid black;
}