name: Greet a Contributor 

on: [pull_request_target, issues]

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: ':wave: Thanks for raising an issue. We will get back to you soon! :slightly_smiling_face:'
        pr-message: ':wave: Thanks for raising a pull request. We will get back to you soon! :slightly_smiling_face:'
